@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg" style="border-radius: 15px; background-color: #f7f2e7; border: 1px solid #c3ae85;">
                <div class="card-body text-center">
                    <h1 class="card-title" style="color: #c3ae85;">@ViewData["Title"]</h1>
                    <h2 style="color: #c3ae85;">Enter your email.</h2>
                    <hr />
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" style="border: 1px solid #c3ae85; border-radius: 10px;" />
                            <label asp-for="Input.Email" class="form-label"></label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <button type="submit" class="w-100 btn btn-lg btn-primary" style="background-color: #c3ae85; color: white; border-radius: 10px;">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
