@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset Password Confirmation";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow-lg">
                <div class="card-header text-center bg-white">
                    <img src="~/images/logo/NoBackGround.png" alt="Logo" class="img-fluid" style="max-width: 150px;">
                </div>
                <div class="card-body text-center">
                    <h2 class="mb-4">@ViewData["Title"]</h2>
                    <p>Your password has been reset. Please</p>
                    <a class="btn btn-lg w-100" style="background-color: #c3ae85; color: white;" id="login" asp-controller="Account" asp-action="Login">Click here to log in</a>
                </div>
            </div>
        </div>
    </div>
</div>
