#sidebarMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    z-index: 1030; /* High enough to stay above the content */
    background-color: #f8f9fa; /* Background color for visibility */
    overflow-y: auto; /* To ensure scrollability */
    transition: left 0.5s ease-in-out; /* Smooth transition */
}

.collapse:not(.show) {
    display: none; /* Hide sidebar when not in use */
}

.collapse.show {
    display: block; /* Display sidebar when toggled */
}

@media (max-width: 1300px) {
    #sidebarMenu {
        left: -250px; /* Initially hide the sidebar to the left */
    }

        #sidebarMenu.show {
            left: 0; /* Show the sidebar on toggle */
        }

    /* Adjust the toggle button visibility */
    .btn[data-bs-toggle="collapse"] {
        display: block; /* Show the toggle button */
    }
}

@media (min-width: 900px) {
    .btn[data-bs-toggle="collapse"] {
        display: none; /* Hide the toggle button on larger screens */
    }
}
