@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg" style="border-radius: 15px; background-color: #f7f2e7; border: 1px solid #c3ae85;">
                <div class="card-body">
                    <h3 class="card-title text-center" style="color: #c3ae85;">@ViewData["Title"]</h3>
                    <partial name="_StatusMessage" for="StatusMessage" />
                    <form id="email-form" method="post">
                        <div asp-validation-summary="All" class="text-danger text-center" role="alert"></div>
                        @if (Model.IsEmailConfirmed)
                        {
                            <div class="form-floating mb-3 input-group">
                                <input asp-for="Email" class="form-control" style="border: 1px solid #c3ae85; border-radius: 10px;" placeholder="Please enter your email." disabled />
                                <div class="input-group-append">
                                    <span class="h-100 input-group-text text-success font-weight-bold" style="background-color: #f7f2e7; border: 1px solid #c3ae85;">✓</span>
                                </div>
                                <label asp-for="Email" class="form-label" style="color: #c3ae85;"></label>
                            </div>
                        }
                        else
                        {
                            <div class="form-floating mb-3">
                                <input asp-for="Email" class="form-control" style="border: 1px solid #c3ae85; border-radius: 10px;" placeholder="Please enter your email." disabled />
                                <label asp-for="Email" class="form-label" style="color: #c3ae85;"></label>
                                <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link" style="color: #c3ae85;">Send verification email</button>
                            </div>
                        }
                        <div class="form-floating mb-3">
                            <input asp-for="Input.NewEmail" class="form-control" style="border: 1px solid #c3ae85; border-radius: 10px;" autocomplete="email" aria-required="true" placeholder="Please enter new email." />
                            <label asp-for="Input.NewEmail" class="form-label" style="color: #c3ae85;"></label>
                            <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
                        </div>
                        <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100 btn btn-lg btn-outline-warning" style="background-color: #c3ae85; color: white; border-radius: 10px; padding: 10px 20px; border: none;">Change email</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
