@model IEnumerable<Domain.Entites.Cart>

<h2>Carts</h2>

<div class="table-responsive">
    <table class="table align-middle">
        <thead class=" text-white" style="background-color:orange">
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Total Price</th>
                <th class="text-center">Reception</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cart in Model)
            {
                <tr>
                    <td class="text-center">@cart.Id</td>
                    <td class="text-center">@cart.TotalPrice.ToString("C")</td>
                    <td class="text-center">@cart.Reception?.Email</td>
                    <td class="text-end">
                        <a asp-action="Details" asp-route-id="@cart.Id" class="btn btn-outline-primary btn-sm">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
