@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="text-center mb-4 mt-4 ">
        <a href="#!">
            <img src="~/images/logo/Qari.png" alt="Logo" class="img-fluid" style="max-width: 20%; height: 20%;">
        </a>
    </div>
    
</div>
