@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="text-center mb-4 mt-4 ">
        <a href="#!">
            <img src="~/images/logo/Qari.png" alt="Logo" class="img-fluid" style="max-width: 20%; height: 20%;">
        </a>
    </div>

    <div class="description mt-4" style="font-size: 1.2rem; color: rgba(51, 51, 51, 0.7); font-family: 'Oswald', sans-serif;">
        <p>Welcome to our online bookstore, where you can easily explore and purchase a wide selection of books. Whether you prefer online payments or cash on delivery, we provide flexible options to suit your needs.</p>

        <p>In addition to buying books, we also offer a unique library system. You can rent books for a set period and return them when you're done, making it convenient for avid readers who want access to a variety of titles without the need to own every book.</p>

        <p>Browse through our extensive collection, discover new reads, and enjoy the seamless experience of buying or renting your favorite books!</p>
    </div>
</div>
