@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="text-center mb-4 mt-4 ">
        <a href="#!">
            <img src="~/images/logo/Logo.jpeg" alt="Logo" class="img-fluid" style="max-width: 80%; height: auto;">
        </a>
    </div>
    
</div>
